@page "/Account/ResendEmailConfirmation"
@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using BlazorApp2.Data

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager

<PageTitle>Resend email confirmation</PageTitle>

<h1>Resend email confirmation</h1>
<h2>Enter your email.</h2>
<hr />
<StatusMessage Message="@message" />
<div class="row">
    <div class="col-md-4">
        <form action="/Account/PerformResendEmailConfirmation" method="post">
            <AntiforgeryToken />
            <div class="form-floating mb-3">
                <input name="Email" class="form-control" aria-required="true" placeholder="name@example.com" required />
                <label for="email" class="form-label">Email</label>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
        </form>
    </div>
</div>

@code {
    private string? message;

    [SupplyParameterFromQuery(Name = "status")]
    private string? Status { get; set; }

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Status))
        {
            message = Status;
        }
    }
}
