@page "/Account/ResetPassword"
@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using BlazorApp2.Data

@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager

<PageTitle>Reset password</PageTitle>

<h1>Reset password</h1>
<h2>Reset your password.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <StatusMessage Message="@Message" />
        <form action="/Account/PerformResetPassword" method="post">
            <AntiforgeryToken />
            <input type="hidden" name="Code" value="@Code" />
            <div class="form-floating mb-3">
                <input name="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" required />
                <label for="email" class="form-label">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." required minlength="6" />
                <label for="password" class="form-label">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." required minlength="6" />
                <label for="confirm-password" class="form-label">Confirm password</label>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>

@code {
    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    [SupplyParameterFromQuery(Name = "error")]
    private string? Error { get; set; }

    private string? Message => !string.IsNullOrEmpty(Error) ? $"Error: {Error}" : null;

    protected override void OnInitialized()
    {
        if (Code is null)
        {
            NavigationManager.NavigateTo("Account/InvalidPasswordReset");
        }
    }
}
