@page "/Account/Manage/ChangePassword"
@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using BlazorApp2.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ILogger<ChangePassword> Logger

<PageTitle>Change password</PageTitle>

<h3>Change password</h3>

<StatusMessage Message="@Message" />
<div class="row">
    <div class="col-md-6">
        <form action="/Account/PerformChangePassword" method="post">
            <AntiforgeryToken />
            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">@ErrorMessage</div>
            }
            <div class="form-floating mb-3">
                <input name="OldPassword" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." required />
                <label for="old-password" class="form-label">Old password</label>
            </div>
            <div class="form-floating mb-3">
                <input name="NewPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." required minlength="6" />
                <label for="new-password" class="form-label">New password</label>
            </div>
            <div class="form-floating mb-3">
                <input name="ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." required minlength="6" />
                <label for="confirm-password" class="form-label">Confirm password</label>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div>

@code {
    [SupplyParameterFromQuery(Name = "error")]
    private string? ErrorMessage { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? Message => ErrorMessage;
}
