@page "/Account/Manage/Email"
@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using BlazorApp2.Data

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<PageTitle>Manage email</PageTitle>

<h3>Manage email</h3>

<StatusMessage Message="@_message" />
@if (_isLoaded)
{
    <div class="row">
        <div class="col-md-6">
            @if (!_isEmailConfirmed)
            {
                <form action="/Account/Manage/PerformSendEmailVerification" method="post">
                    <AntiforgeryToken />
                    <button type="submit" class="btn btn-link">Send verification email</button>
                </form>
            }
            <form action="/Account/Manage/PerformChangeEmail" method="post">
                <AntiforgeryToken />
                @if (_isEmailConfirmed)
                {
                    <div class="form-floating mb-3 input-group">
                        <input type="text" value="@_email" class="form-control" placeholder="Please enter your email." disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                        <label for="email" class="form-label">Email</label>
                    </div>
                }
                else
                {
                    <div class="form-floating mb-3">
                        <input type="text" value="@_email" class="form-control" placeholder="Please enter your email." disabled />
                        <label for="email" class="form-label">Email</label>
                    </div>
                }
                <div class="form-floating mb-3">
                    <input name="NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." value="@(_email ?? "")" />
                    <label for="new-email" class="form-label">New email</label>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Change email</button>
            </form>
        </div>
    </div>
}

@code {
    private ApplicationUser _user = default!;
    private string? _email;
    private bool _isEmailConfirmed;
    private string? _message;
    private bool _isLoaded;

    [SupplyParameterFromQuery(Name = "status")]
    private string? Status { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Status))
        {
            _message = Status;
        }

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userId = UserManager.GetUserId(authState.User);

        if (userId == null)
        {
            NavigationManager.NavigateTo("Account/Login");
            return;
        }

        var user = await UserManager.FindByIdAsync(userId);
        if (user == null)
        {
            NavigationManager.NavigateTo("Account/Login");
            return;
        }

        _user = user;
        _email = await UserManager.GetEmailAsync(_user);
        _isEmailConfirmed = await UserManager.IsEmailConfirmedAsync(_user);
        _isLoaded = true;
    }
}
