@page "/Account/Manage/ResetAuthenticator"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Identity
@using BlazorApp2.Data

@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ILogger<ResetAuthenticator> Logger

<PageTitle>Reset authenticator key</PageTitle>

<StatusMessage Message="@_statusMessage" />
<h3>Reset authenticator key</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>If you reset your authenticator key your authenticator app will not work until you reconfigure it.</strong>
    </p>
    <p>
        This process disables 2FA until you verify your authenticator app.
        If you do not complete your authenticator app configuration you may lose access to your account.
    </p>
</div>
@if (_isLoaded)
{
    <div>
        <form action="/Account/Manage/PerformResetAuthenticator" method="post">
            <button class="btn btn-danger" type="submit">Reset authenticator key</button>
        </form>
    </div>
}

@code {
    private ApplicationUser _user = default!;
    private string? _statusMessage;
    private bool _isLoaded;

    [SupplyParameterFromQuery(Name = "status")]
    private string? Status { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Status))
        {
            _statusMessage = Status;
        }

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userId = UserManager.GetUserId(authState.User);

        if (userId == null)
        {
            NavigationManager.NavigateTo("Account/Login");
            return;
        }

        var user = await UserManager.FindByIdAsync(userId);
        if (user == null)
        {
            NavigationManager.NavigateTo("Account/Login");
            return;
        }

        _user = user;
        _isLoaded = true;
    }
}
